<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/styles/app.css"/>
</head>
<body>
<header class="topbar">
    <a class="brand" href="/criteria?med_order_id={{.MedOrderID}}">
        <img src="http://127.0.0.1:9000/services-images/pankreatitlogo.png"
             alt="PankreatitMed Logo" class="logo">
    </a>
<!--    <a class="cart" href="/order?id={{.MedOrderID}}"></a>-->
</header>

<main class="detail">
    <div class="detail-text">
        <h1>{{.Criterion.Name}}</h1>
        <div class="muted">{{.Criterion.Duration}}</div>
        {{if .Criterion.HomeVisit}}<div class="muted">Доступно с выездом на дом</div>{{end}}

        <p>{{.Criterion.Description}}</p>
        <p><b>Критерий:</b>
            <span class="price">
                {{if nzf .Criterion.RefLow}}
                >{{printf "%.0f" (valf .Criterion.RefLow)}}
                {{else if nzf .Criterion.RefHigh}}
                <{{printf "%.0f" (valf .Criterion.RefHigh)}}
                {{else}}
                —
                {{end}}
                {{.Criterion.Unit}}
            </span>
        </p>
    </div>
    <div class="detail-image">
        <img src="{{.Criterion.ImageURL}}" alt="{{.Criterion.Name}}">
    </div>
    <form method="POST" action="/medorder/add">
        <input type="hidden" name="criterion_id" value="{{.Criterion.ID}}">
        <input type="hidden" name="med_order_id" value="{{.MedOrderID}}">
        <button class="btn" type="submit">Добавить в корзину</button>
    </form>
</main>
</body>
</html>