<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/styles/app.css"/>
</head>
<body>
<header class="topbar">
    <a class="brand" href="/criteria?med_order_id={{.MedOrderID}}">
        <img src="http://127.0.0.1:9000/services-images/pankreatitlogo.png"
             alt="PankreatitMed Logo" class="logo">
    </a>
</header>

<section class="find_elements">
    <form class="search" method="GET" action="/criteria">
    <input type="hidden" name="med_order_id" value="{{.MedOrderID}}">
    <input type="text" name="q" placeholder="Поиск услуг" value="{{.Query}}">
    <button type="submit">Найти</button>
</form>
</section>

<main class="grid">
    {{range .Criteria}}
    <article class="card">
        <div class="code">{{.Code}}</div>

        <h3 class="title">
            <a href="/criterion?id={{.ID}}&med_order_id={{$.MedOrderID}}">{{.Name}}</a>
        </h3>

        <div class="meta">
            <div>{{.Duration}}</div>
            {{if .HomeVisit}}<div>Доступно с выездом на дом</div>{{end}}
        </div>

        <div class="card-illustration">
            <img src="{{.ImageURL}}" alt="{{.Name}}">
        </div>

        <div class="price">
            {{if nzf .RefLow}}
            >{{printf "%.0f" (valf .RefLow)}}
            {{else if nzf .RefHigh}}
            <{{printf "%.0f" (valf .RefHigh)}}
            {{else}}
            —
            {{end}}
            {{.Unit}}
        </div>

        <div class="actions">
            <form method="POST" action="/medorder/add">
                <input type="hidden" name="criterion_id" value="{{.ID}}">
                <input type="hidden" name="med_order_id" value="{{$.MedOrderID}}">
                <input type="hidden" name="q" value="{{$.Query}}">
                <button class="btn" type="submit">В корзину</button>
            </form>
        </div>
    </article>
    {{end}}
    <a class="cart" {{if .CartCount}} href="/medorder?id={{.MedOrderID}}" {{end}}><span class="badge">{{.CartCount}}</span></a>
</main>

</body>
</html>