<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/styles/app.css"/>
</head>
<body>
<header class="topbar">
    <a class="brand" href="/criteria">
        <img src="http://127.0.0.1:9000/services-images/pankreatitlogo.png"
             alt="PankreatitMed Logo" class="logo">
    </a>
</header>

<section class="order-head">
    {{ if .Order.RansonScore }}<h2>Ваш бал по шкале Рэнсона - {{.Order.RansonScore}}</h2>{{ end }}
</section>
<section class="selection">
    <select id="criterion" name="criterion">
    <option value="" selected>Выберите пациента…</option>
    <option value="age">Дмитрий Ицков 18.01.2025</option>
    <option value="wbc">Армен Игнашеив 15.07.2025</option>
    <option value="glucose">Аркадий Новичков 27.10.2025</option>
    </select>
</section>


<main class="order-list">
    {{range .Items}}
    <article class="order-item">
        <div class="idx">{{.Position}}</div>
        <div class="code">{{.CriterionID}}</div>
        <div class="title"><strong>{{(index $.CriteriaMap .CriterionID).Name}}</strong></div>
        <div class="muted">{{(index $.CriteriaMap .CriterionID).Duration}}</div>
        <div class="price">
            {{if nzf (index $.CriteriaMap .CriterionID).RefLow}}
            >{{printf "%.0f" (valf (index $.CriteriaMap .CriterionID).RefLow)}}
            {{else if nzf (index $.CriteriaMap .CriterionID).RefHigh}}
            <{{printf "%.0f" (valf (index $.CriteriaMap .CriterionID).RefHigh)}}
            {{else}}
            —
            {{end}}
            {{(index $.CriteriaMap .CriterionID).Unit}}
        </div>
        <div class="pic"><img src="{{(index $.CriteriaMap .CriterionID).ImageURL}}" alt="{{(index $.CriteriaMap .CriterionID).Name}}"></div>
        <input type="text" placeholder="..." class="crit-input" value="{{if nzf .ValueNum}} {{.ValueNum}} {{end}}">
        <span class="indicator">{{if .ValueIndicator}}1{{else}}0{{end}}</span>
<!--        <div class="del"><img src="http://127.0.0.1:9000/services-images/del_button.png"></div>-->
    </article>
    {{end}}
</main>

<section class="selection">
<form method="POST" action="/medorder/delete" class="button-form">
    <input type="hidden" name="med_order_id" value="{{.MedOrderID}}">
    <button class="btn" type="submit">Удалить заявку</button>
</form>
</section>


</body>
</html>