<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/styles/app.css"/>
</head>
<body>
<header class="topbar">
    <a class="brand" href="/criteria?med_order_id={{.MedOrderID}}">
        <img src="http://127.0.0.1:9000/services-images/pankreatitlogo.png"
             alt="PankreatitMed Logo" class="logo">
    </a>
</header>
<div class="wrapper">
    <div class="not-find">
        Заказ, который вы ищите устарел 😢
        Пожалуйста, перейдите на главную страницу
    </div>
</div>
</body>
</html>